# AH Bonnen parser

In [5]:
import os
import re
import io
import PyPDF2
from PIL import Image
import pandas as pd
from pdf2image import convert_from_path
import pytesseract

In [6]:
def receipt_renamer(folder_path):
    """
    Function renames the download ah receipts to a more sortable name
    Input: A path to a folder with ah receipt pdfs. 
    """

    # Get a list of all the files in the directory
    files = os.listdir(folder_path)
    # Loop through each file in the directory
    for file in files:
        # Use regular expressions to extract the date from the filename
        match = re.search(r'\d{2}-\d{2}-\d{2}', file)
        if match:
            # Extract the date from the match object
            date = match.group()
            # Convert the date to the desired format (YYYY-MM-DD)
            new_name = re.sub(r'(\d{2})-(\d{2})-(\d{2})', r'20\3-\2-\1', date) + '_AH_kassabon'
            # Rename the file with the new name
            os.rename(os.path.join(folder_path, file), os.path.join(folder_path, new_name + '.pdf'))
        print('succesfully renamed all files')

In [7]:
def pdf_to_img(pdf_path, pdf_img_path):

    # Get a list of all the files in the directory
    files = os.listdir(pdf_path)
    # Loop through each file in the directory
    for pdf_file in files:

        full_path = os.path.join(pdf_path, pdf_file)
        # Convert the first page of the PDF file to a PIL image
        images = convert_from_path(full_path, first_page=1, last_page=1)
        image = images[0]
        # obtain the pdf name to name the image.
        pdf_file = pdf_file.replace('.pdf','.jpg')
        # Save the image to a file
        image.save(pdf_img_path + pdf_file)
        
    print('succesfully converted all pdf files to images')

In [19]:
images = convert_from_path("C:\\Users\\rie12\\Desktop\\AH_kassabon_24-01-23_1350_1093.pdf", first_page=1, last_page=1)
image = images[0]
# Save the image to a file
image.save('testing_img_24-01-23.jpg')

In [ ]:
pdf_to_img("C:\Users\rie12\Desktop\AH_kassabon_24-01-23_1350_1093.pdf")

In [39]:
def text_to_df(text, img_file):

    temp_df = pd.DataFrame(columns=['Amount','Product','Price'])
    try:
        text_without_start = text.split('BONUSKAART xx9644', 1)[1]
        text_without_end = text_without_start.split('UW VOORDEEL',1)[0]
        lines = text_without_end.split("\n")
    except Exception as ex:
        print(img_file, ' did not work because', ex)
        return temp_df

    match = re.search(r"\d{1,2}-\d{1,2}-\d{4}", text)
    if match:
        date = match.group()
        date_without_time = re.sub(r"\s+\d{1,2}:\d{1,2}\s*", " ", date)

    for line in lines:
        # Create an I that decides which part should be the amount.
        i = -1
        if line:
            parts = line.split()
            amount = parts[0]

            # Ignore the bonus box lines.
            if 'BBOX' in amount or 'BONUS' in amount:
                continue
            # The bonus and bonux box lines are the last on receipt.
            # Therefore they have to be ignored to get the price.
            while parts[i] == 'B' or parts[i] == 'BB':
                i -=1
            
            # If the amount of the product is expressed in KG, we want to grab the kg price
            # And remove KG from the line
            if 'KG' in amount:
                i -=1
                product_name = " ".join(parts[1:i])
                amount = amount.replace('KG','')
            else:
                product_name = " ".join(parts[1:i])

            # Assign price and make it a float
            # Also split price if the value is not right
            price = parts[i]
            price = price.replace(',', '.')
            try:
                if float(price) > 100:
                    price = price[:1] + '.' + price[1:]
                price = float(price)
            except Exception as ex2:
                print('Encounterd: ', ex2, 'For ', product_name)
                price = 999

            temp_df.loc[len(temp_df)] = [amount, product_name, price]

    temp_df['Amount'] = pd.to_numeric(temp_df['Amount'], errors='coerce').fillna(1)
    temp_df['Date'] = pd.to_datetime(date_without_time, format='%d-%m-%Y').date()
    # Multiple the amount bought by the price to get the right price
    # Known issue: Messes up subtotaal.
    # If price is not a float it will return None
    temp_df['Price_Amount'] = temp_df.apply(lambda x: round(x['Price'] * x['Amount'], 2) if isinstance(x['Price'], float) else None, axis=1)

    return temp_df

In [40]:
def text_from_img(pdf_img_path):

    df = pd.DataFrame(columns=['Amount','Product','Price','Date'])

    # Get a list of all the files in the directory
    files = os.listdir(pdf_img_path)
    # Loop through each file in the directory
    for img_file in files:

        full_path = os.path.join(pdf_img_path, img_file)
        image = Image.open(full_path)
        # Convert the image to grayscale
        image = image.convert('L')
        # Process the image with pytesseract
        text = pytesseract.image_to_string(image)
        temp_df = text_to_df(text, img_file)
        df = pd.concat([df, temp_df]).reset_index(drop=True)

    return df

In [41]:
# Set the directory where the files are located
dir_path = 'C:\\Users\\rie12\\Documents\\GitHub\\AH_kassabonnen\\ah_bonnen'

img_path = 'C:\\Users\\rie12\\Documents\\GitHub\\AH_kassabonnen\\ah_bonnen_img\\'

In [42]:
test = text_from_img('C:\\Users\\rie12\\Documents\\GitHub\\AH_kassabonnen\\ah_bonnen_img')

2023-01-24_AH_kassabon.jpg  did not work because list index out of range
2023-02-06_AH_kassabon.jpg  did not work because list index out of range
2023-02-15_AH_kassabon.jpg  did not work because list index out of range
Encounterd:  could not convert string to float: '#B' For  FRIKANDELBR 100
2023-03-11_AH_kassabon.jpg  did not work because list index out of range
2023-03-16_AH_kassabon.jpg  did not work because list index out of range
2023-03-20_AH_kassabon.jpg  did not work because list index out of range
2023-04-05_AH_kassabon.jpg  did not work because list index out of range
2023-04-13_AH_kassabon.jpg  did not work because list index out of range
2023-04-17_AH_kassabon.jpg  did not work because list index out of range
2023-04-19_AH_kassabon.jpg  did not work because list index out of range
Encounterd:  could not convert string to float: '40%' For  STOOMMAALTIS 5,79
Encounterd:  could not convert string to float: 'a.99' For  TUC PAPRIKA
Encounterd:  could not convert string to float: 'goo' For  DZK CREME FR

In [43]:
test.head(50)

    Amount       Product  Price        Date  Price_Amount
0    1.000     AH ICETEA   0.89  2023-01-03          0.89
1    1.000  OETKER PIZZA   4.19  2023-01-03          4.19
2    1.000   JELLY BEANS   1.29  2023-01-03          1.29
3    1.000  LAY'S OVEN B   2.09  2023-01-03          2.09
4    1.000    PEPPERMINT   1.39  2023-01-03          1.39
5    1.000   ZAANS BRUIN   0.85  2023-01-03          0.85
6    1.342       BANANEN   1.99  2023-01-03          2.67
7    1.000  FOCACCIAPEPP   1.25  2023-01-03          1.25
8    8.000     SUBTOTAAL  14.62  2023-01-03        116.96
9    1.000   DZH HV MELK   1.19  2023-01-05          1.19
10   1.000   TUC PAPRIKA   0.95  2023-01-05          0.95
11   1.000      AH CHOCO   1.85  2023-01-05          1.85
12   1.000  DZH CREME FR   0.99  2023-01-05          0.99
13   1.000  LAY'S OVEN B   2.09  2023-01-05          2.09
14   1.000    CUP A SOUP   1.99  2023-01-05          1.99
15   0.121    GRILLWORST   18.0  2023-01-05          2.18
16   1.000  KIPFILETBLOK   4.75  2023-01-05          4.75
17   1.000  AH CABANOSSI   2.69  2023-01-05          2.69
18   1.000  AH HAMBURGER   2.99  2023-01-05          2.99
19   1.000    CUP A SOUP   1.79  2023-01-05          1.79
20   1.000     AH RUCOLA   1.09  2023-01-05          1.09
21   1.000   AH ITAL BOL   0.79  2023-01-05          0.79
22   1.000   SCHNITT WIT   0.29  2023-01-05          0.29
23   1.000       PAPRIKA   1.09  2023-01-05          1.09
24   1.000          PREI   0.69  2023-01-05          0.69
25  16.000     SUBTOTAAL  27.41  2023-01-05        438.56
26   1.000      PRINGLES   2.29  2023-01-08          2.29
27   1.000      PRINGLES   2.29  2023-01-08          2.29
28   1.000     AH ICETEA   0.89  2023-01-08          0.89
29   1.000  OETKER PIZZA   4.19  2023-01-08          4.19
30   1.000     SUIKER KL   1.69  2023-01-08          1.69
31   1.000  SWEET DALTON   2.79  2023-01-08          2.79
32   1.000      PICKWICK   1.99  2023-01-08          1.99
33   1.000  HK CROISSANT   1.78  2023-01-08          1.78
34   1.000    HERTOG JAN   6.49  2023-01-08          6.49
35   1.000  FILET AMERIC   1.69  2023-01-08          1.69
36   1.000    AH ZOETJES   0.99  2023-01-08          0.99
37   1.000     AH GRATIN   2.29  2023-01-08          2.29
38   1.000   KIPKLUIFJES   3.49  2023-01-08          3.49
39   1.000   ZAANS BRUIN   0.85  2023-01-08          0.85
40  14.000     SUBTOTAAL  33.71  2023-01-08        471.94
41   1.000     AH ICETEA   0.89  2023-01-11          0.89
42   1.000   CHIO KASELN   1.89  2023-01-11          1.89
43   1.000   AH STAMPPOT   4.29  2023-01-11          4.29
44   1.000  DZH CREME FR   0.99  2023-01-11          0.99
45   1.000      AH CHOCO   2.09  2023-01-11          2.09
46   1.000   ZAANS BRUIN   0.99  2023-01-11          0.99
47   1.000   KROKETBROOD   1.55  2023-01-11          1.55
48   1.000  KIPGRILLWORS   2.99  2023-01-11          2.99
49   1.000  AH STOKBROOD   1.69  2023-01-11          1.69

In [45]:
test[test['Product'] == 'SUBTOTAAL']

     Amount    Product  Price        Date  Price_Amount
8       8.0  SUBTOTAAL  14.62  2023-01-03        116.96
25     16.0  SUBTOTAAL  27.41  2023-01-05        438.56
40     14.0  SUBTOTAAL  33.71  2023-01-08        471.94
53     12.0  SUBTOTAAL  24.56  2023-01-11        294.72
70     17.0  SUBTOTAAL  39.84  2023-01-17        677.28
84     15.0  SUBTOTAAL  26.79  2023-01-20        401.85
101    16.0  SUBTOTAAL  28.88  2023-01-28        462.08
116    14.0  SUBTOTAAL  34.08  2023-02-01        477.12
128    12.0  SUBTOTAAL  28.95  2023-02-08        347.40
141    12.0  SUBTOTAAL  26.72  2023-02-12        320.64
150     8.0  SUBTOTAAL  25.32  2023-02-18        202.56
156     8.0  SUBTOTAAL  17.12  2023-02-19        136.96
168    11.0  SUBTOTAAL  25.86  2023-02-23        284.46
185    16.0  SUBTOTAAL  34.44  2023-02-27        551.04
195    10.0  SUBTOTAAL  24.46  2023-03-01        244.60
210    14.0  SUBTOTAAL  23.71  2023-03-05        331.94
221    10.0  SUBTOTAAL  23.99  2023-03-08        239.90
230     8.0  SUBTOTAAL   19.1  2023-03-14        152.80
238     6.0  SUBTOTAAL  23.14  2023-03-23        138.84
248     8.0  SUBTOTAAL  14.19  2023-03-26        113.52
262    13.0  SUBTOTAAL  45.68  2023-03-27        593.84
277    15.0  SUBTOTAAL  30.16  2023-04-04        452.40
280     1.0  SUBTOTAAL   7.39  2023-04-07          7.39
284     3.0  SUBTOTAAL   7.97  2023-04-21         23.91
304    17.0  SUBTOTAAL  43.37  2023-04-25        737.29
321    16.0  SUBTOTAAL  41.05  2023-04-30        656.80
330     8.0  SUBTOTAAL  14.62  2023-01-03        116.96